<h1>Scene One: {{title}}</h1>
<img src="{{image}}"></img>
<p>{{sceneText}}</p>
<form action="" method="">
  <ul>
    {{#each choices}}
      <input type="radio" name="choices" value="{{choiceText}}">{{choiceText}}<br>
    {{/each}}
  </ul>
  <input type='submit' value='Next' class="btn">
</form>
