<h1>{{title}}</h1>
<img class="sceneimg" src="{{image}}"></img>
<p class="scenetext">{{sceneText}}</p>


<form action="/goToNext/" method="post">
  <input type="text" value="{{next}}" name="next" style="display:none">
  <ul class="answers">
    {{#each choices}}
      <input  type="radio" name="choices" value="{{choice_id}}" >{{choiceText}}<br>
    {{/each}}
  </ul>
  <input class="button" type='submit' value='Next' class="btn">
</form>
