<h1>Scene One:{{title}}</h1>
<img>{{image}}</img>
<p>{{text}}</p>
<form action="" method="">
  <ul>
    {{#each choices}}
      <input type="radio" name="choices" value="{{text}}">{{text}}<br>
    {{/each}}
  </ul>
  <input type='submit' value='Next' class="btn">
</form>
