<h1>Scene One: {{title}}</h1>
<img class="sceneimg" src="{{image}}"></img>
<p class="scenetext">{{sceneText}}</p>
<form action="" method="">
  <ul class="answers">
    {{#each choices}}
      <input type="radio" name="choices" value="{{choiceText}}">{{choiceText}}<br>
    {{/each}}
  </ul>
  <input type='submit' value='Next' class="btn">
</form>
