<h1>{{title}}</h1>
<img src="{{image}}"></img>
<p>{{sceneText}}</p>
<form action="/goToNext/" method="post">
  <input type="text" value="{{next}}" name="next" style="display:none">
  <ul>
    {{#each choices}}
      <input type="radio" name="choices" value="{{choice_id}}" >{{choiceText}}<br>
    {{/each}}
  </ul>
  <input type='submit' value='Next' class="btn">
</form>
